* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.k1 {
	top: 100px;
	left: 100px;
	position: absolute;
	z-index: 1;
}
.k2 {
	top: 125px;
	left: 125px;
	position: absolute;
	z-index: 2;
}
.k3 {
	top: 150px;
	left: 150px;
	position: absolute;
	z-index: 3;
}
.k4 {
	top: 175px;
	left: 175px;
	position: absolute;
	z-index: 4;
}
.k5 {
	top: 200px;
	left: 200px;
	position: absolute;
	z-index: 5;
}
:active {
	z-index: 6;
}
