body
{
    background-color: black;
}
#a
{
    color: rgb(59, 255, 59);
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#b
{
    text-decoration: none;
    color: rgba(2, 18, 3, 0.8);
}
.c
{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;  
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border-style: solid;
    border-radius: 25px;
    background: linear-gradient(-20deg, rgb(14, 85, 55) ,rgb(31, 250, 60), rgb(79, 158, 92));
    box-shadow: 1px 1px 20px 10px green;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

} 
.c:hover
 {
    background: linear-gradient(-20deg, rgb(14, 85, 55) ,rgb(31, 250, 60), rgb(79, 158, 92));
    animation: gradient 7s ease infinite;
    background-size: 400% 400%;
    height: 100px;
 }
@keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
    50% {
     background-position: 100% 50%;
    }
    100%{
     background-position: 0% 50%;
    }
 }
