* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}
body {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(255, 140, 140);
	height: 100vh;
}
.m {
	width: 400px;
	height: 820px;
}
.f {
	width: 400px;
	height: 820px;
}
div {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
h2 {
	text-shadow: 1px 1px 10px gray;
}
h1 {
	font-size: 42px;
	text-shadow: 1px 1px 10px gray;
}
img {
    background: rgb(235,135,135);
    background: radial-gradient(circle, rgba(235,135,135,1) 15%, rgba(255,102,120,1) 70%);
	margin-top: 20px;
	border-radius: 40px;
	box-shadow: 1px 1px 25px rgb(255, 95, 95);
}
